.layout {
  display: flex;
  min-height: 80vh;
}


.navbar {
  background-color: #222;
  color: white;
 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 150px;
  height: 150px;
}


.sidebar {
  width: 180px;
  padding: 20px;
  background: #c2c1c1;
  margin-top: 0px
  
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 12px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
}

.sidebar a:hover {
  color: #007bff;
}


.content {
  flex-grow: 1;
  padding: 20px;
}


.footer {
  background: #222;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: #61dafb;
  text-decoration: none;
}

.page {
  padding: 20px;
  text-align: center;
}
/* Contenedor de la lista */
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 productos por fila */
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

/* Tarjetas de producto */
products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 productos por fila */
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

/* Tarjetas de producto */
.product-card {
  width: 100%; /* importante para ocupar la celda completa */
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  border: 1px solid #eee;
  transition: transform 0.2s, box-shadow 0.2s;
}



.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1rem;
  margin: 10px 0;
}

.product-card .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2a8f2a;
  margin-bottom: 10px;
}

.product-card button {
  padding: 8px 14px;
  border: none;
  background: #ff4d4d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.product-card button:hover {
  background: #cc0000;
}
