.layout {
  display: flex;
  min-height: 80vh;
}


.navbar {
  background-color: #222;
  color: white;
  padding: 15px, 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 150px;
  height: 150px;
}


.sidebar {
  width: 180px;
  padding: 20px;
  background: #ececec;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 12px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
}

.sidebar a:hover {
  color: #007bff;
}


.content {
  flex-grow: 1;
  padding: 20px;
}


.footer {
  background: #222;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: #61dafb;
  text-decoration: none;
}

.page {
  padding: 20px;
}
